*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* --primary-color: #ECF0FF; */
    --primary-color: rgb(70,72,169);
    --dark-color-text: #222C2A;
    --light-color-text: white;
    --secondary-color: rgb(22, 235, 250);
    --accent-color: rgb(180, 230, 237);
    --second-accent-color: rgb(185,141,146);
}

/* 
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: var(--dark-color-text);
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-top: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 1.1;

}

.nav-a {
    text-decoration: none;
    color: var(--light-color-text);
}

header {
    background: rgba(70,72,169, 0.85);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 300ms ease-in-out;
}

section {
    padding: 4em 0;
}

footer p {
    text-align: center;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1128px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner {
    width: 60%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul a{
    padding: 1em 1.5em;
}

nav ul a:hover {
    color: var(--accent-color);
}

nav ul a:active {
    font-weight: bold;
    color: var(--secondary-color);
    position: relative;
}
nav ul a:active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--secondary-color);
    height: .3em;
}
.logo {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: var(--secondary-color);
}

.section-title {
    font-size: 2.25rem;
}

.intro {
    color: var(--light-color-text);
    text-align: center;
    padding: 200px 0;
    min-height: 660px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.intro__text {
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 5px;
    color: var(--light-color-text);
    margin: 0 0 .25em;
}

.intro__title {
    font-size: 50px;
}

@media (min-width: 800px) {
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-left: 3rem;
    }

    .intro__title {
        font-size: 60px;
    }
}

/* Scroll */

.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up header {
    filter: drop-shadow(0 -10px 20px rgb(75, 73, 73));
}