*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* --primary-color: #ECF0FF; */
    --primary-color: #1d3658;
    --secondary-color: hsl(203, 83%, 42%);
    --accent-color: rgb(185, 218, 239);
    --second-accent-color: #e63746;
    --dark-color-text: #222C2A;
    --light-color-text: rgb(255, 255, 255);
}

@font-face {
    font-family: myCalibre;
    src: url(font/CalibreBold.woff);
    font-weight: 600;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/

body {
    margin: 0;
    line-height: 1.6;
    color: var(--dark-color-text);
    font-family: 'Roboto', sans-serif;

}

h1, h2 {
    margin-top: 0;
    font-family: myCalibre, serif;
    font-weight: 900;
    line-height: .9;
    letter-spacing: 2px;

}

section {
    padding: 4em 0;
}

footer p {
    text-align: center;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

img {
    max-width: 100%;
}

header {
    background-color: var(--primary-color);
    padding: 1em 0;
    text-align: center;
}

/* utilities */
.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #24252b;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-top: .4em;
}

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .7;
}

.nav__link--button {
    padding: .25em .75em;
    background-color: white;
    color: #072A2D;
    border-radius: 100px;
}


.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.logo{
    color: white;
    background: var(--secondary-color);
    font-size: 27px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    font-size: 2.6rem;
    font-weight: 900;
    font-family: myCalibre, serif;
    z-index: 999;
}

.logo__r {
    position: absolute;
    top: 6px;
    left: 14px;
}
.logo::after {
    content: "aymart";
    position: absolute;
    top: 0;
    left: 38px;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: myCalibre, serif;
    
}

.nav__list{
    list-style: none;
    width: 100%;
}


.nav__link{
    position: relative;
}

.nav__link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--second-accent-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

ul {
    margin: 0;
}

.section-title {
    font-size: 2.25rem;
}

.intro {
    border: 1px solid red;
    color: var(--light-color-text);
    padding: min(20vw, 7em) 0;
    min-height: 20em;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    position: relative;
}

.intro__left {
    width: 80%;
}

.intro__text {
    /* text-transform: uppercase; */
    font-size: 1.125rem;
    letter-spacing: 3px;
    color: var(--light-color-text);
    margin: 0 0 .35em;
}

.intro__title {
    font-size: clamp(2.5em, 8vw, 80px);
    margin: 0;
}

.intro__sub {
    color: rgba(255, 255, 255, 0.628);
}

.section__title {
    color: var(--primary-color);

}

.intro__social-media {
    margin: 0;
}

.intro__social-icon {
    margin: 1em 0 0 0;
    color: rgba(255, 255, 255, 0.628);
}

.intro__social-icon + .intro__social-icon {
    margin-left: .5em;
}
.intro__fb:active,
.intro__fb:hover {
    color: blue;
}

.intro__git:active,
.intro__git:hover {
    color: rgb(35, 35, 39);
}

.intro__twitter:active,
.intro__twitter:hover {
    color: rgb(91, 162, 255);
}

.contact {
    color: white;
    background-color: var(--secondary-color);
}
.contact-info {
    position: relative;
}

.email {
    color: white;
    text-decoration: none;
}

.social-media {
    margin: 0;
    position: absolute;
    display: flex;
    list-style-type: none;
}

.social-icon {
    color: var(--light-color-text);
    background: rgba(109, 106, 106, 0.06);
    font-size: 27px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: relative;
}

.about {
    border-bottom: 1px solid rgb(218, 213, 213);
    border-width: 60%;
    
}

.about__description {
    margin: 0;
}

.tech__item-html {
    grid-area: html;
}
.tech__item-css {
    grid-area: css;
}
.tech__item-sass {
    grid-area: sass;
}
.tech__item-js {
    grid-area: js;
}
.tech__item-wp {
    grid-area: wp;
}
.reset__margin {
    margin: 0;
}
.tech__list {
    width: 70%;
    display: grid;
    margin: 0 auto 2.5em auto;
    gap: 1em;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "html css"
    "sass js"
    "wp wp";

}

.tech__list > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.html__icon,
.css__icon,
.sass__icon,
.js__icon,
.wp__icon {
    font-size: 4rem;
    color: var(--primary-color);
    opacity: .8;
}

.html__name,
.css__name,
.sass__name,
.js__name,
.wp__name {
    color: var(--primary-color);
    opacity: .8;
}

.html__icon:hover,
.html__name:hover {
    color: rgb(247,84,33);
    opacity: 1;
}
.css__icon:hover,
.css__name:hover {
    color: rgb(20,110,176);
    opacity: 1;
}
.sass__icon:hover,
.sass__name:hover {
    color: rgb(201,97,149);
    opacity: 1;
}
.js__icon:hover,
.js__name:hover {
    color: rgb(239,216,29);
    opacity: 1;
}
.wp__icon:hover,
.wp__name:hover {
    color: rgb(0,112,149);
    opacity: 1;
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    margin: 0;
}

.profile__pic {
    height: 100%;
    width: 100%;
    max-width: 400px;
    position: relative;
}

/* .wrapper {
    box-shadow: 0 10px 30px -15px var(--dark-color-text);
    display: block;
    position: relative;
    width: 95%;
    margin: 0;
}

.wrapper::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: 4px solid var(--secondary-color);
    top: 15px;
    left: 15px;
    z-index: -1;
    transition: top, left;

}

.wrapper::after:active,
.wrapper::after:hover {
    top: 10px;
    left: 10px;
} */

.project__title {
    margin: 0 0 1em 0;
}

.project__1,
.project__2,
.project__3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3rem;
    
}

.project__info {
    border: 1px solid #f1f1f1;
    padding: 3.125rem 3.125rem 2.5rem 1.875rem;
}

.project__title {
    text-transform: uppercase;
}

.tech__title {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    margin: 2rem 0 .8rem 0;
}

.project__description {
    margin: 0;
}

.project__tech-list {
    padding: 0;
    list-style-type: none;
}

.project__tech-list > li {
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
    display: inline-block;
    margin: 0 .625rem .625rem 0;
    font-size: .875rem;
    background-color: #fff;
}

footer {
    background: #222C2A;
    color: var(--light-color-text);
    padding: 1rem;
    object-fit: cover;
    margin: 0 auto;
}

.fb:hover {
    background-color: rgb(42, 42, 240);
}

.git:hover {
    background-color: rgb(35, 35, 43);
}

.twitter:hover {
    background-color: rgb(59, 163, 232);
}

.name-box, .email-box, .subject-box, .message-box, .submit-btn-box {
    display: block;
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 14px;
    width: 100%;
    border-radius: 4px;
    border: none;
    line-height: 1.8;
}

.message-box {
    resize: vertical;
    font-family: inherit;
}

.submit-btn-box {
    margin-top: 30px;
    background-color: var(--second-accent-color);
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 100px;
}

.submit-btn-box:hover {
    opacity: 0.8;
}

@media (min-width: 700px) {
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: auto;
        position: relative;
        transition: height .5s ease;
    }

    .nav__list {
        display: flex;
        margin: 0;
    }

    .row {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .nav__item{
        margin: 0 0 0 1.9em;
    }

    .nav__list--secondary {
        margin-left: 3em;
    }
    /* .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: height .5s ease;
    }
    
    .nav a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.827);
        display: flex;
        justify-content: space-between;
    }
    
    .logo{
        color: white;
        background: var(--secondary-color);
        font-size: 27px;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        position: relative;
        flex-shrink: 0;
        font-size: 2.6rem;
        font-weight: 900;
        font-family: myCalibre, serif;
        z-index: 999;
        margin: 1rem 0;
    }
    
    .logo__r {
        position: absolute;
        top: 6px;
        left: 14px;
    }
    .nav .logo::after {
        content: "aymart";
        position: absolute;
        top: 0;
        left: 38px;
        font-size: 1.5rem;
        font-weight: 900;
        font-family: myCalibre, serif;
        
    }
    
    .nav__list{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    
    
    .nav__link{
        position: relative;
    }
    
    .nav__item + .nav__item {
        margin-left: 3em;
    }
    
    .nav__link::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--second-accent-color);
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;
    }
    
    .nav__link:hover::after,
    .nav__link:hover {
        color: white;
        transform: scaleX(1);
    }
    
    .scrolling-active{
        background-color: #fff;
        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    }
    
    .scrolling-active .logo__r {
        color: white;
    }
    
    .scrolling-active .nav a{
        color: #313131;
    }
    
    .scrolling-active .nav__link::after{
        background-color: var(--second-accent-color);
    } */
}